
/* base styles */


* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f6f6f6;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2 , h3, q {
 font-family: 'Josefin Slab', serif;
}

.early-life,
.young-adult,
.later-life {
  margin: 0 auto;
  padding: 0 1em;
  line-height: 1.7em;
}

h3 {
  text-align: center;
  margin-top: 0;
  padding-top: 1em;
}

/* quotes */

aside{
  background-color: rgba(176, 190, 199, .5);
}


/* Header */

header {
  background: url('img/bg.jpg') top right no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  text-align: center;
  padding: 0 .3125em;
  font-style: italic;
}

h1 q {
}

header h2 {
  color: #fff;
  margin: 0 auto 2em;
}

header a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #7bc3d1;
  font-size: 1.4em;
  padding:  .5em 1.75em;
  color: #7bc3d1;
}

header a:hover,
header a:focus {
  background-color: rgba(123, 195, 209, .25);
  color: #28343E;
}


/* Early Life */

.early-life {
  background-color: #7bc3d1;
  margin: 0 auto;
  padding: 0 1em;
}

/* Young Adult */


/* Later Life */

.later-life {
  background-color: #7bc3d1;
}

/* Timeline */

/* Footer */

footer {
  background-color: #28343E;
}
