
/* base styles */


* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f6f6f6;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

h3 {
  text-align: center;
  margin-top: 2em;
  font-size: 1.5em;
}

hr {
  height: 4px;
  width: 70px;
  text-align: center;
  position: relative;
  background-color: #7bc3d1;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 0;
}

a {
  text-decoration: none;
}

/* Setting flexbox */

header,
aside,
footer,
section {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  min-height: 75vh;
}


/* Section styles */

h1, h2 , h3, q {
 font-family: 'Josefin Slab', serif;
}

section {
  margin: 0 auto;
  padding: 0 1em;
  line-height: 1.7em;
}

/* background image */

header,
aside {
  background: url('img/bg.jpg') top right no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


/* Header */

header {
  height: 100vh;
}

h1 {
  color: #fff;
  text-align: center;
  padding: 0 .3125em;
  font-style: italic;
}

header h2 {
  color: #fff;
  margin: 0 auto 2em;
}

header a {
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid #7bc3d1;
  font-size: 1.4em;
  padding:  .5em 1.75em;
  color: #7bc3d1;
}

header a:hover,
header a:focus {
  background-color: rgba(123, 195, 209, .25);
  color: #28343E;
}

/* quotes */

aside {
  min-height: 45vh;
}

aside p{
  font-size: 1.4em;
  color: #fff;
  text-align: center;
  padding: 0 .3125em;
  font-weight: 600;

}


/* footer */

footer {
  text-align: center;
  min-height: 15vh;
}

footer p {
  font-size: .9em;
}

footer a {
  color: #7bc3d1;
  font-size: 1.1em;
}



/* Media Queries */

@media screen and (min-width: 640px) {


  h3 {
    font-size: 2.5em;
  }

  hr {
    height: 5px;
    width: 140px;
  }

  section p {
    padding-top: 1em;
    padding-bottom: 5em;
  }

  section p,
  aside p {
    max-width: 768px;
  }

  footer {
    min-height: 25vh;
  }

}


